.header{
    display: flex;
    /* background: #61dafb; */
    justify-content: space-between;
    align-items: center;
}
.dropdownTogle{
    background: transparent;
    justify-content: center;
    align-items: center;

    --bs-btn-color: #fff;
    --bs-btn-bg: transparent; 
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
.mainMenu{
    font-weight: 500;
    justify-content: flex-end;
    align-items: center;
}
.bg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
    height: 100vh;
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .menuBar{
    padding-left: 100px;
    padding-right: 100px;
  }
  .aboutUs{
    padding: 100px 100px;
  }
  .keyFeature{
    padding: 50px 100px;
  }
  .productImage{
    padding: 50px 100px;
  }
  .productCaro{
    padding: 50px 100px;
  }
  .ourTeam{
    align-items: center;
    text-align: center;
    padding: 50px 100px;
  }
  .footer{
    background-color: #373737;
    color: white;
    padding: 50px 100px;
  }
  .keyFeatureTittle{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
  }
  .keySubTittle{
    font-weight: 500;
    font-size: 25px; 
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .menuBar{
        padding-left: 20px;
        padding-right: 20px;
      }
      .aboutUs{
        padding: 20px 20px;
      }
      .keyFeature{
        padding: 20px 20px;
      }
      .productImage{
        padding: 20px 20px;
      }
      .productCaro{
        padding: 20px 20px;
      }
      .ourTeam{
        align-items: center;
        text-align: center;
        padding: 20px 20px;
      }
      .footer{
        background-color: #373737;
        color: white;
        padding: 20px 20px;
      }
  }
  
